https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [16]:
import pandas as pd

In [17]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [18]:
type(df.iloc[0])

pandas.core.series.Series

With a list of integers.

In [19]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [20]:
df.iloc[[0,1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

With a slice object.

In [21]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [22]:
df.iloc[[0, 2]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [23]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [24]:
df.iloc[:2,:]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [25]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [26]:
import numpy as np

In [27]:
data = {'c1': [1,2,3,4,5,np.nan,6,7,np.nan,8,9,10,np.nan],
        'c2': [1,2,3,np.nan,5,np.nan,6,np.nan,np.nan,8,9,10,np.nan]}
df = pd.DataFrame(data)
print (df)

      c1    c2
0    1.0   1.0
1    2.0   2.0
2    3.0   3.0
3    4.0   NaN
4    5.0   5.0
5    NaN   NaN
6    6.0   6.0
7    7.0   NaN
8    NaN   NaN
9    8.0   8.0
10   9.0   9.0
11  10.0  10.0
12   NaN   NaN

Check column has null values

In [28]:
df.isnull().sum()

c1    3
c2    5
dtype: int64

Check column has null values any

In [29]:
df.isnull().values.any()

True